@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@media screen and (min-width: 375px) {
  * {
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }

  body {
    background: #e5e5e5;
  }

  header {
    display: flex;
    margin-bottom: -1%;
    background: #ffff;
  }

  .heading {
    background: url(images/header-shapes\ mobile.png);
    background-repeat: no-repeat;
    background-size: 100% 90%;
    border-bottom-left-radius: 50px;
    height: 557px;
    background-color: #ffff;
  }

  nav {
    display: flex;
    justify-content: space-between;
    margin: auto 5%;
    width: 100%;
    padding: 15px 0;
  }

  a {
    text-decoration: none;
  }

  .navbar-brand a {
    font-weight: 900;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6070ff;
  }

  ul {
    list-style-type: none;
  }

  .hamburger {
    display: block;
  }

  p {
    font-weight: 300;
  }

  .bar {
    display: block;
    width: 25px;
    height: 2.6px;
    margin: 5px auto;
    background-color: #6070ff;
  }

  .header-container {
    padding: 100px 7%;
    display: flex;
    row-gap: 10px;
    flex-direction: column;
  }

  h1 {
    display: flex;
    font-size: 29px;
    color: #172b4d;
  }

  .connect {
    font-size: 17px;
    font-weight: 600;
    color: #6070ff;
  }

  .socialmedia-icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  /* works section */
  .works {
    padding-bottom: 20%;
  }

  .cards {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    margin-top: 10%;
    grid-gap: 2%;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
    background-color: #ffff;
    border-radius: 20px;
    padding: 3%;
  }

  .dot {
    width: 12px;
    height: 12px;
    background-color: #e5e5e5;
    margin-top: 5px;
    border-radius: 10px;
  }

  .left-block {
    margin-top: 2%;
  }

  h2 {
    color: #172b4d;
    font-size: 38px;
    font-weight: 900;
  }

  .list1 {
    display: flex;
    gap: 5%;
    font-size: 14px;
    font-weight: 900;
    margin-top: 2%;
    color: #7a869a;
  }

  .list1 #canopy {
    color: #344563;
  }

  .p {
    font-size: 18px;
  }

  .p2 {
    margin-top: 5%;
    font-size: 18px;
  }

  .list2 {
    display: flex;
    gap: 4%;
    margin-top: 10%;
  }

  .badge {
    background-color: #ebebff;
    color: #6070ff;
    padding: 4px 10px;
    text-align: center;
    border-radius: 8px;
    font-weight: 600;
  }

  .see-project {
    margin-top: 10%;
    margin-bottom: 3%;
    background-color: #ffff;
    color: #6070ff;
    padding: 12px 26px;
    text-align: center;
    border: 1px solid #6070ff;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
  }

  .about-myself {
    background-color: white;
    padding-bottom: 50%;
    border-top-right-radius: 15%;
  }

  .container-myself {
    padding: 24px 7%;
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    padding-top: 90px;
  }

  h3 {
    font-size: 47px;
    font-weight: 900;
  }

  .resume {
    background-color: #ffff;
    color: #6070ff;
    padding: 12px 6px;
    width: 164px;
    text-align: center;
    border: 1px solid #6070ff;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
  }

  #paragraph {
    font-size: 18px;
  }

  .language {
    padding: 0 7%;
    display: flex;
    row-gap: 10px;
    flex-direction: column;
  }

  h4 {
    font-size: 27px;
    font-weight: 900;
  }

  .list {
    display: flex;
    flex-direction: column;
  }

  .badge1 {
    background-color: #f7f7f9;
    display: flex;
    font-size: 27px;
    gap: 7%;
    margin-left: auto;
    margin-bottom: 2%;
    margin-right: auto;
    width: 100%;
    padding: 24px 10px;
    text-align: center;
    border-radius: 8px;
    font-weight: 400;
  }

  h5 {
    font-size: 26px;
  }

  h6 {
    color: #ffff;
    font-size: 47px;
  }

  .lang {
    display: flex;
    width: 88%;
    justify-content: space-between;
  }

  .framework {
    display: flex;
    width: 88%;
    justify-content: space-between;
  }

  .skills {
    display: flex;
    width: 88%;
    justify-content: space-between;
  }

  .fa {
    color: #acb7c3;
  }

  .contact-form {
    background: #6070ff;
    background-image: url(images/contact-form.png);
    background-position-x: right;
    background-size: 65% 100%;
    background-repeat: no-repeat;
    border-top-left-radius: 15%;
    height: 730px;
    margin-top: -20%;
  }

  .contact-container {
    padding: 83px 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #parag {
    color: white;
    font-size: 20px;
    padding-left: auto;
    text-indent: 44px;
    width: 90%;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #name {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 8px;
    margin-top: 5%;
    border-radius: 5px;
    border: 0;
  }

  #email {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 8px;
    border-radius: 5px;
    margin-top: 3%;
    border: 0;
  }

  #msg {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 132px 8px;
    margin-top: 3%;
    border-radius: 5px;
    border: 0;
    padding-top: 17px;
  }

  .getintouch {
    background-color: #ffff;
    color: #6070ff;
    padding: 12px 6px;
    width: 164px;
    text-align: center;
    border: 1px solid #6070ff;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 2%;
    margin-left: 10%;
  }

  #desk {
    display: none;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: white;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: white;
  }

  .navbar {
    margin: 0;
    position: fixed;
    left: -170%;
    top: 0;
    padding-top: 20%;
    margin-left: 2;
    padding-right: 64%;
    flex-direction: column;
    background-color: #3848dac3;
    backdrop-filter: blur(4px);
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    display: flex;
  }

  .navbar.active {
    left: 0;
  }

  .navbar.active .nav-link {
    color: #fff;
    justify-content: flex-start;
    padding-left: 20px;
    display: flex;
  }
  .main-pop {
    width: 100%;
    height: 100%;
    position: fixed;
    backdrop-filter: blur(2px);
    background-color: rgb(0, 0, 0, 30%);
    top: 0%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: center;
  }
  .card-pop {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    overflow-y: scroll !important;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 30%;
  }
  .btns{
    display: flex;
    gap: 15px;

  }
  .card-title-pop {
    display: flex;
    gap: 60%;
    width: 295px;
    height: 36px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
  }
  .fa-times {
    color: #67798e;
    size: 20%;
    margin-top: 5%;
  }
  .card-list-pop {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 10px;
    width: 236px;
    height: 32px;
    margin-left: -15%;
  }
  .card-text {
    width: 60px;
    height: 16px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
  }
  .dev {
    width: 90px;
    height: 16px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
  }
  
  .year {
    width: 29px;
    height: 16px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
  }
  .card-img-pop {
    width: 100%;
    height: auto;
    margin: 2%;
     }
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
    width: 295px;
    height: 300px;
  }
  .text-pop {
    width: 295px;
    height: 66px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #344563;
  }
  .tags-pop {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    width: 203px;
    height: 24px;
    margin-top: 40%;
  }
  .tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    width: 203px;
    height: 24px;
    padding-bottom: 20px;
  }
  .button1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    width: 53px;
    text-decoration: none;
    height: 24px;
    background: #ebebff;
    border-radius: 8px;
  }
  
  .button2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    width: 45px;
    height: 24px;
    text-decoration: none;
    background: #ebebff;
    border-radius: 8px;
  }
  
  .button3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    width: 89px;
    height: 24px;
    text-decoration: none;
    background: #ebebff;
    border-radius: 8px;
  }
  
  #html {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
  }
  
  #css {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
  }
  
  #js {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
  }
  #hr-pop {
    position: relative;
    height: 1px;
    left: 3%;
    width: 270px;
    background-color: #ebecf0;
    margin-top: 4%;
  }
  .project-pop {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    padding-left: 4px;
    width: 45%;
    height: 40px;
    border: 1px solid #6070ff;
    border-radius: 8px;
  }
  .project-pop2 {
    box-sizing: border-box;
     width: 59%;
    height: 40px;
    border: 1px solid #6070ff;
    border-radius: 8px;
  }
  #proj {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
    text-decoration: none;
  }
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .navbar {
    display: flex;
    gap: 25px;
    color: #344563;
    position: relative;
    left: 0%;
    background-color: transparent;
    backdrop-filter: none;
    flex-direction: row;
    padding: 0%;
    width: 32%;
    font-size: 15px;
  }

  .heading {
    background: url(images/Header.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #fff;
  }

  .header-container {
    padding: 170px 17%;
  }

  .p {
    margin-top: 0%;
  }

  .p2 {
    margin-top: 2%;
    font-size: 15px;
  }

  .list2 {
    margin-top: 4%;
  }

  .left-block {
    margin: 2%;
    width: 50%;
    padding-bottom: 7%;
  }

  .cards {
    grid-gap: 120px;
  }

  .card {
    flex-direction: row;
    gap: 30px;
    padding: 8px 8px;
    justify-content: space-between;
  }

  .card img {
    width: 50%;
  }

  #mob {
    display: none;
  }

  #desk {
    display: flex;
  }

  #swap img {
    order: 2;
  }

  .works {
    padding-bottom: 15%;
  }

  #swap2 img {
    order: 2;
  }

  .badge {
    text-transform: lowercase;
    font-size: 14px;
  }

  .badge #desk {
    display: none;
  }

  .about-myself {
    display: flex;
    padding-bottom: 26%;
  }

  .container-myself {
    width: 50%;
    padding: 24px 3%;
    padding-top: 100px;
  }

  .language {
    width: 52%;
    margin-top: 0%;
    padding-top: 112px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 100px;
  }

  .list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 5%;
  }

  .lang {
    color: #344563;
  }

  .socialmedia-icons {
    gap: 20px;
  }

  .badge1 {
    flex-direction: column;
    font-size: 16px;
    gap: 4%;
    margin: 0%;
    width: 23%;
    text-align: center;
    padding-right: 56px;
    padding-left: 6px;
    padding-top: 18px;
    padding-bottom: 34px;
  }

  #paragraph {
    color: #344563;
  }

  .framework {
    color: #344563;
  }

  .skills {
    color: #344563;
  }

  .contact-form {
    background-image: url('images/Deskcontact.png');
    background-size: 100% 100%;
  }

  .contact-container {
    margin-left: auto;
    margin-right: auto;
  }

  form {
    width: 66%;
  }

  #parag {
    width: 66%;
    margin-left: auto;
    margin-right: auto;
  }

  #name {
    border-radius: 2px;
  }

  #email {
    border-radius: 2px;
  }

  #msg {
    border-radius: 2px;
  }

  .getintouch {
    margin-left: auto;
    margin-right: auto;
  }
  #mobi{
    display: none;
  }
  .main-pop{
    width: 100%;
    height: 100%;
    position: fixed;
    backdrop-filter: blur(2px);
    background-color: rgb(0, 0, 0, 50%);
    top: 0%;
    padding-top: 7%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: center;
    overflow-y: scroll !important;
  }
  .card-pop {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    gap: 12px;
    width: 90em;
    height: 80em;
    background: #ffff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
  }
  .card-title-pop {
    display: flex;
    gap: 0;
    margin-left: -68%;
    width: 295px;
    height: 36px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px
  }
  .desk-project{
      margin-top: 10%;
      margin-bottom: 3%;
      background-color: #ffff;
      color: #6070ff;
      padding: 12px 26px;
      text-align: center;
      border: 1px solid #6070ff;
      border-radius: 8px;
      font-size: 18px;
      font-weight: 600;
    
  }
  .card-list-pop {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 10px;
    width: 236px;
    height: 32px;
    margin-left: -73%;
  }
  .card-img-pop {
    width: 100%;
    height: 60%;
    margin: 2%;
    padding: 1%;
    margin-top: -2%;
  }
  .fa-times {
    color: #67798e;
    margin-left: 45em;
    margin-top: 5%;
  }
  .text-pop{
    width: 50em;
    height: 66px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #344563;
    margin-left: -93%;
  }
  .card-body {
    padding-top: 6%;
    display: flex;
    gap: 1%;
  }

  .tags-pop {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 0.5em;
    width: 18em;
    height: 24px;
    margin-top: 0%;
    margin-left: -50%;
  } 
   #two {
    display: flex;
    width: 50%;
    height: auto;
    margin-left: -2%;
    padding-right: 0%;
  }
  #git {
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    padding: 4px 0;
    width: 50px;
    height: 24px;
    text-decoration: none;
    background: #ebebff;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
  }

  #css-pop {
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    padding: 4px 0;
    width: 50px;
    height: 24px;
    text-decoration: none;
    background: #ebebff;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
    margin-left: -20%;
  }

  #ruby {
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    padding: 4px 0;
    width: 50px;
    height: 24px;
    text-decoration: none;
    background: #ebebff;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
    margin-left: -20%;
  }

  #js-pop {
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    padding: 4px 0;
    width: 50px;
    height: 24px;
    text-decoration: none;
    background: #ebebff;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
    margin-left: -50%;
  }

  #bs {
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    padding: 4px 0;
    width: 50px;
    height: 24px;
    text-decoration: none;
    background: #ebebff;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
    margin-left: -50%;
  }

  #hr-pop {
    position: absolute;
    height: 1px;
    left: -115%;
    width: 250px;
    background-color: #ebecf0;
    margin-top: 5%;
    margin-left: 180%;
  }
  
  .project-pop {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    position: absolute;
    width: 10%;
    margin-top: 92%;
    margin-left: -7%;
    height: 40px;
    border: 1px solid #6070ff;
    border-radius: 8px;
  }

  #projp {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
    text-decoration: none;
  }

  .project-pop2 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    width: 70%;
    height: 40px;
    margin-left: -13%;
    margin-top: 62%;
    border: 1px solid #6070ff;
    border-radius: 8px;
  }
}
