@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --primary-color: #6070ff;
  --font-family: "Poppins", sans-serif;
  --secondary-color: #ffff;
  --darkblue: #2230d2;
  --hcolor: #172b4d;
}

* {
  margin: 0%;
  padding: 0%;
  font-family: var(--font-family);
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
}

header {
  display: flex;
  margin-bottom: -1%;
  background: var(--secondary-color);
}

.heading {
  background: url(images/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  background-size: 100% 90%;
  border-bottom-left-radius: 80px;
  height: 675px;
  background-color: var(--secondary-color);
}

nav {
  display: flex;
  justify-content: space-between;
  margin: auto 5%;
  width: 100%;
  padding: 15px 0;
}

a {
  text-decoration: none;
}

.navbar-brand a {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
}

ul {
  list-style-type: none;
}

.hamburger {
  display: block;
}

p {
  font-weight: 300;
}

.bar {
  display: block;
  width: 25px;
  height: 2.6px;
  margin: 5px auto;
  background-color: var(--primary-color);
}

h1 {
  display: flex;
  font-size: 29px;
}

.header-container {
  font-family: var(--font-family);
  padding: 100px 7%;
  display: flex;
  row-gap: 15px;
  flex-direction: column;
}

h1,
.navbar li a {
  display: flex;
  font-size: 50px;
  font-weight: bolder;
  line-height: 50px;
  color: var(--hcolor);
}

.connect {
  font-size: 17px;
  font-weight: 600;
  color: var(--primary-color);
}

.socialmedia-icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* works section */
.works {
  padding-bottom: 20%;
}

.cards {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  margin-top: 10%;
  grid-gap: 2%;
}

.card {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  background-color: #ffff;
  border-radius: 20px;
  padding: 3%;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #e5e5e5;
  margin-top: 2%;
  border-radius: 10px;
}

.left-block {
  margin-top: 2%;
}

h2 {
  color: var(--hcolor);
  font-size: 38px;
  font-weight: 900;
}

.list1 {
  display: flex;
  gap: 10px;
  font-weight: 900;
  margin-top: 2%;
  font-size: 13px;
  color: #7a869a;
}

.list1 #canopy {
  color: #344563;
}

.p {
  margin-top: 5%;
  font-size: 18px;
}

.list2 {
  display: flex;
  gap: 4%;
  margin-top: 10%;
}

.badge {
  background-color: #ededf4;
  color: var(--primary-color);
  padding: 4px 10px;
  text-align: center;
  border-radius: 8px;
  font-weight: 600;
}

.see-project {
  margin-top: 10%;
  margin-bottom: 3%;
  cursor: pointer;
  background-color: #ffff;
  color: var(--primary-color);
  padding: 12px 26px;
  text-align: center;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
}

.see-project:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.see-project:active {
  background-color: var(--darkblue);
  color: var(--secondary-color);
}

.about-myself {
  background-color: white;
  border-top-right-radius: 80px;
  padding-bottom: 276px;
}

.container-myself {
  padding: 24px 7%;
  display: flex;
  row-gap: 5px;
  flex-direction: column;
  padding-top: 90px;
}

h3 {
  font-size: 47px;
  color: var(--hcolor);
  font-weight: 900;
}

.resume {
  background-color: #ffff;
  color: var(--primary-color);
  cursor: pointer;
  padding: 12px 6px;
  width: 164px;
  text-align: center;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
}

.resume:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.resume:active {
  background-color: var(--darkblue);
  color: var(--secondary-color);
}

#paragraph {
  font-size: 18px;
  color: #344563;
}

.language {
  padding: 0 7%;
  display: flex;
  row-gap: 10px;
  flex-direction: column;
}

.list {
  display: flex;
  flex-direction: column;
}

.badge1 {
  background-color: #f7f7f9;
  display: flex;
  gap: 5%;
  margin-left: auto;
  margin-bottom: 2%;
  margin-right: auto;
  width: 100%;
  align-items: center;
  padding: 24px 10px;
  font-size: 17px;
  text-align: center;
  border-radius: 8px;
  font-weight: 600;
}

.lang {
  display: flex;
  width: 88%;
  font-size: 23px;
  font-weight: 600;
  justify-content: space-between;
}

.framework {
  display: flex;
  width: 88%;
  font-weight: 600;
  justify-content: space-between;
  font-size: 24px;
}

.skills {
  display: flex;
  width: 88%;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 600;
}

.fa {
  color: #acb7c3;
}

.contact-form {
  background: #6070ff;
  background-image: url(images/contact-form.png);
  background-position-x: right;
  background-size: 65% 100%;
  background-repeat: no-repeat;
  border-top-left-radius: 15%;
  margin-top: -110px;
}
h6{
  color: #ffff;
  font-size: 47px;
}
.contact-container {
  padding: 120px 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#parag {
  color: white;
  font-size: 20px;
  padding-left: auto;
  text-indent: 44px;
  width: 90%;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#name {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 8px;
  margin-top: 5%;
  border-radius: 5px;
  border: 0;
}

#email {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 8px;
  border-radius: 5px;
  margin-top: 3%;
  border: 0;
}

#msg {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 132px 8px;
  margin-top: 3%;
  border-radius: 5px;
  border: 0;
  padding-top: 17px;
}

.getintouch {
  background-color: #ffff;
  color: #6070ff;
  padding: 12px 6px;
  width: 164px;
  text-align: center;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 2%;
  margin-left: 10%;
}
